

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: rgba(0, 104, 207, 0.183);
    display: flex;
    min-height: 200vh;
    align-items: center;
    justify-content: center;
}

img {
    border: 2px solid black;
    height: 200px;
    border-radius: 20%;
}
