<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hostel Boutique ByGuz</title>
    <link rel="icon" href="https://i.ibb.co/fYZRk2d/Logo-Hotel.jpg" type="image/x-icon">
    <link rel="stylesheet" href="/css/nosotros.css" />
    <link rel="stylesheet" href="/css/csshamburguesa.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <script script defer src="/js/index.js"></script>
    <script defer type="text/javascript">
      function googleTranslateElementInit() {
        new google.translate.TranslateElement({
          pageLanguage: 'es', // El idioma en el que está escrita tu página
          includedLanguages: 'en,es,pt,fr', // Los idiomas a los que el usuario puede cambiar
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE
        }, 'google_translate_element');
      }
    </script>
    <script defer type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>

</head>
<body>
    <header class="header">
        <nav class="nav"> 
          <a th:href="@{/}"><img src="https://i.ibb.co/hdZxgL6/Logo-Hotel-Sin-Fondo.png" alt="logotipo" class="logo nav-link"></a> 
          <button class="nav-toggle" aria-label="Abrir menú">
            <img src="https://i.ibb.co/dtdvY67/hamburguesa.png" alt="Menu">
          </button>
          <ul class="nav-menu">
            <li class="nav-menu-item">
              <a th:href="@{/reservaciones}" class="nav-menu-link nav-link">Rerservaciones</a>
            </li>
            <li class="nav-menu-item">
              <a th:href="@{/marser}" class="nav-menu-link nav-link">Marser</a>
            </li>
            <li class="nav-menu-item">
              <a th:href="@{/galeria}" class="nav-menu-link nav-link">Galería</a>
            </li>
            <li class="nav-menu-item">
                <a th:href="@{/nosotros}" class="nav-menu-link nav-link nav-menu-link_active"
                  >Nosotros</a>
            </li>
            <li class="nav-menu-item">
              <a th:href="@{/}" class="nav-menu-link nav-link">Inicio</a>
            </li>
            <li class="nav-menu-item">
              <a sec:authorize="!isAuthenticated()" th:href="@{/login}" class="nav-menu-link nav-link"><img src="https://i.ibb.co/RYGs74X/Login.png" alt="Login"></a>
                    <a sec:authorize="isAuthenticated()" th:href="@{/logout}" class="action_btn nav-menu-link nav-link"><img src="https://i.ibb.co/Hg0Gzqb/logout.png" alt="Cerrar Sesión"></a>        
                  </li>
            <li class="nav-menu-item">
              <a><div id="google_translate_element"></div></a>
            </li>
          </ul>
        </nav>
      </header>

      <main>
        <div class="Nosotros">
        <h2>Nosotros</h2>

        <h3><br>Misión</h3>
        <p><br>En Hostel Boutique ByGuz, nos comprometemos a ofrecer a nuestros huéspedes una experiencia única y memorable, proporcionando un ambiente acogedor, servicios de alta calidad y atención personalizada. Buscamos superar las expectativas de quienes nos eligen, creando momentos inolvidables y estableciendo estándares de excelencia en hospitalidad.</p>
        
        <h3><br>Visión</h3>
        <p><br>Aspiramos a ser reconocidos como el destino preferido para quienes buscan comodidad, calidad y entretenimiento en un entorno único. Nos esforzamos por ser líderes en la industria hotelera, innovando constantemente para adaptarnos a las necesidades cambiantes de nuestros huéspedes y brindar experiencias que perduren en el tiempo.</p>
        
        <h3><br>Política de Gestión de Seguridad, Salud, Medio Ambiente y Calidad</h3>
        
        <p><br>Nuestro hotel se compromete a:</p>
        
        <ul>
          <li><br>-> Cumplir con la legislación vigente en materia de seguridad, salud ocupacional, medio ambiente y calidad.</li>
          <li>-> Prevenir lesiones, enfermedades e impactos al medio ambiente mediante la identificación de peligros, evaluación y control de riesgos.</li>
          <li>-> Mejorar de manera continua los procesos, instalaciones y servicios para alcanzar los más altos estándares de calidad.</li>
          <li>-> Promover una cultura preventiva y de cuidado del medio ambiente en todos los niveles de la organización.</li>
          <li>-> Proporcionar condiciones de trabajo seguras, saludables y ambientalmente responsables paracolaboradores y huéspedes.</li> 
        </ul>
        
        <p><br>La gerencia asignará los recursos necesarios para el cumplimiento de estos compromisos y espera la participación activa de todo el personal en los programas establecidos.</p>
    </div>
      </main>

      <footer>
        <div class="footer-content">
          <div class="footer-logo">
              <img src="https://i.ibb.co/hdZxgL6/Logo-Hotel-Sin-Fondo.png" alt="Logo del hotel">
              <p><img src="https://i.ibb.co/3pcrNsx/png-transparent-computer-icons-logo-instagram-black-desktop-wallpaper-smile.png" alt="Logo Instagram">@ms_gastro_bar</p>
              <p><img src="https://i.ibb.co/3pcrNsx/png-transparent-computer-icons-logo-instagram-black-desktop-wallpaper-smile.png" alt="Logo Instagram">@hostelboutiquebyguz</p> 
          </div>
          <div class="footer-info">
              <p>Dirección: CL. 4A #13 40 LOTE 7</p>
              <p>Entrada Parrots - Rivera, Huila</p>
              <p>Hostel: (+57) 313 285 1619</p>
              <p>Restaurante: (+57) 320 963 3119</p>
              <p>Correo electrónico: negociosmarsersas@gmail.com</p>
          </div>
          <div class="footer-date">
              <p id="current-date"></p>
          </div>
      </div>
      </footer>
</body>
</html>